<div class=header>
    <h1>Snake</h1>
    <label for="name">Username</label>
    <input id="name" [(ngModel)]="username" />
    @if (alive) {
        <button (click)="leave()">Leave</button>
    } @else {
        <button (click)="join()">Join</button>
    }
<div class="game-container">
    @for (row of grid(); track $index) {
        <div class="row">
            @for (cell of row; track $index) {
            <div
                class="cell"
                [class.snake]="isSnake(cell)"
                [class.food]="isFood(cell)"
                [class.mySnake]="isMySnake(cell)">
            </div>
            }
        </div>
    }
    <p class="score">Your Score: {{ score() }}</p>
    <div class="score">
        <p>Current Ranking:</p>
        <ol>
            @for (player of playersOrderedByScore(); track $index) {
                <li>{{ player.username ? player.username : player.id }}: {{ player.score }}</li>
            }
        </ol>
</div>